<h1><%= @project.name %> </h1>
<h2 id="backers">Backers:<%= @project.pledges.length %> </h2>

<h4> <% if @project.backers.include?(current_user) %> 
		<div class="pledgedtrue">You have pledged this project already!</div>
	<% end %>
		</h4>

	<br>
	<p> Description: <%= @project.description %></p>
	<p> The goal: $<%= @project.goal %> </p>
	<p id="amount-raised"> The amount raised: $<%= @project.amount_raised %> </p>
	<p> Backing Deadline: <%= @project.end_date.strftime('%B %e, %Y') %> </p>
	<p> Days left: <%= @project.days_left%> </p>

	<h3>Rewards</h3>

	<% @project.rewards.each do |reward|%>
		<%= link_to new_project_pledge_path(@project, amount: reward.amount), class: "reward" do %>
			<h2> 
				<%= reward.amount %> 
				<%= reward.description %>
			</h2>
		<% end %>
	<% end %>

	<div id='pledge-form' hidden >
		<%= render 'pledges/new' %>
	</div>

	<%= link_to "Back To Main Page", projects_url %>