<% @restaurants.each do |restaurant| %>
	<div>
	<%= restaurant.name %>, <%= restaurant.email %>, <%= restaurant.food_type %>, <%= restaurant.location %>, <%= restaurant.capacity %>, <%= restaurant.price %>, 
	</div>
<% end %> 